# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Ignore virtual environment
venv/
# Ignore compiled Python bytecode files
__pycache__/
# Ignore IDE-specific files
.idea/

#Ignore cloud credentials
/cloud_key.json
.env